.page-node.node-type-negocio{
  .l-content{
    background: transparent;
    border: none;
    padding: 0;
  }
  .colmask{
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
    .node--negocio{
      float: left;
      width: 200%;
      position: relative;
      left: 278px;
    }
  }
  .group-content{
    margin: 0 0 0 278px;
    position: relative;
    right: 100%;
    overflow: hidden;
  }
  .group-right{
    float: left;
    width: 268px;
    position: relative;
    right: 278px;
    .field--label-inline .field__label{
      width: 60px;
      text-align: right;
    }
    .field--label-inline .field__items{
      margin-left: 70px;
      float: none;
    }
  }
  .group-left{
    float: right;
    width: 50%;
    position: relative;
    right: 278px;
    .field{
      clear: right;
      margin-bottom: 20px;
    }
    h1{
      font-family: Arial;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    .field__label{
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #8EC615;
    }
    .field--name-field-images .field__items:after{
      content: "";
      display: table;
      clear: both;
    }
    .field--name-field-images .field__item{
      float: left;
      width: 165px;
      height: 130px;
      
      a{
        display: block;
        width: 165px;
        height: 130px;
        padding: 5px;
      }
    }
    .field--name-field-banner img{
      width: 100%;
      height: auto;
    }
  }
  .field--name-field-image{
    width: 100px;
    height: 100px;
    float: left;
  }
  .field--name-title{
    margin-left: 110px;
    .field__items{
      height: 100px;
      line-height: 100px;
      margin: 0 auto;
    }
    .field__item{
      display: inline-block;
      vertical-align: middle;
      line-height: 0;
    }
    h2{
      text-align: center;
      font-size: 18px;
      line-height: 20px;
      width: 136px;
      margin: 0;
      letter-spacing: -1px;
    }
  }
  .field--name-field-intro{
    clear: both;
  }
  .group-right{
    .field{
      border-top: 1px solid #DED;
      padding: 10px 0;
    }
    .field--name-title,
    .field--name-field-image{
      border-top: none;
      padding-top: 0;
    }
    .field__label{
      font-weight: normal;
      color: #888;
    }
    .field-label-inline{
      .field__label{
        float: left;
        width: 60px;
      }
      .field-items{
        margin-left: 70px;
        display: block;
        float: none;
      }
    }
  }
  
  .group-right,
  .group-content{
    border: 1px solid #DED;
    padding: 10px;
    background: white;
  }
}