ul.breadcrumb,
ul.breadcrumb li{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.breadcrumb{
  background: #90c742;
  padding: 0px 10px;
  margin: 20px -10px 0;
}
ul.breadcrumb li{
  display: inline-block;
}
ul.breadcrumb li a{
  color: white;
  text-decoration: none;
}