/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body{
  background: #F4F4F4;
  font-family: Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 1.28;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}
h2.block-title{
  margin-bottom: 20px;
}
.grippie, .form-required{
  display: none;
}
#page{
  padding-top: 9px;
  background: url('../images/top-bg.png') repeat-x;
}
.logo-img{
  width: 260px;
  height: 66px;
  float: none;
  margin: 0;
}
.logo-img a{
  display: block;
  width: 260px;
  height: 66px;
}
.logo-img img{
  width: 260px;
  height: 66px;
}
body #admin-menu{
  font-size: 12px;
}
body.page-mensajes-gratis h1.title{
  display: none;
}

.page-mensajes-gratis #envia-mensajes-gratis{
  width: 460px;
  color: #333333;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  margin: 0 auto;
}
.page-mensajes-gratis fieldset { position: relative; padding: 10px; padding-top: 0; margin-bottom: 30px; background: #F6F6F6; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#FFFFFF)); background: -moz-linear-gradient(center top, #EFEFEF, #FFFFFF 100%); box-shadow: 3px 3px 10px #ccc; -moz-box-shadow: 3px 3px 10px #ccc; -webkit-box-shadow: 3px 3px 10px #ccc }
.page-mensajes-gratis legend { padding: 6px 12px; position: absolute; left: 10px; top: -11px; background-color: #88CC44; color: white; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; box-shadow: 2px 2px 4px #888; -moz-box-shadow: 2px 2px 4px #888; -webkit-box-shadow: 2px 2px 4px #888; text-shadow: 1px 1px 1px #333 }
.page-mensajes-gratis .form-item label { font-weight: normal; float: left; clear: left; display: block; width: 180px; padding-right: 20px; text-align: right; height: 26px; line-height: 26px }
.page-mensajes-gratis .form-item input, 
.page-mensajes-gratis .form-item textarea, 
.page-mensajes-gratis .form-item select { padding: 3px; float: left; width: 200px; border: 1px solid #d9d9d9 }
.page-mensajes-gratis .submit { width: 100px; float: right; margin-right: 37px; border: 0; padding: 5px 10px; background: #4F709F; color: white; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; box-shadow: 2px 2px 4px #888; -moz-box-shadow: 2px 2px 4px #888; -webkit-box-shadow: 2px 2px 4px #888; margin-bottom: 4px; text-shadow: 1px 1px 1px #333 }
.page-mensajes-gratis .form-item textarea { background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(1%, #EEEEEE), to(#FFFFFF)) }
.page-mensajes-gratis .form-item input:focus, 
.page-mensajes-gratis .form-item textarea:focus, 
.page-mensajes-gratis .form-item select:focus { background: white; border-color: #666 }
.page-mensajes-gratis .form-item { overflow: hidden; margin-bottom: 10px }
.page-mensajes-gratis .form-item:first-of-type { padding-top: 25px }
.page-mensajes-gratis .contact-method label { clear: none; width: auto }
.page-mensajes-gratis .contact-method input { float: none; width: 20px }

.page-mensajes-gratis #edit-message-counter{
  margin-left: 200px;
}
p.green{
  color: #8EC615;
  font-size: 16px;
  text-align: center;
}
#tepicnaym-message-form #edit-submit{
  float: right;
}


/* Negocios */
#zone-content.container-12 .grid-12 {
  width: 960px;
  margin-left: 0;
  margin-right: 0;
}
#zone-content.container-12 .grid-3{
  width: 270px;
  margin-left: 0;
  margin-right: 10px;
}
#zone-content.container-12 .grid-9 {
  width: 680px;
  margin-right: 0;
  margin-left: 0;
}
.breadcrumb{
  padding-top: 3px;
  background: #67950E;
  height: 17px;
  margin-bottom: 10px;
}
.breadcrumb .item{
  float: left;
  margin-right: 5px;
}
.breadcrumb .item.last{
  margin-right: 0;
}
.breadcrumb .item a,
.breadcrumb .item span{
  padding: 2px 5px;
  font-size: 14px;
  color: yellow;
  text-decoration: none;
  display: block;
}
.breadcrumb .item a:hover{
  text-decoration: underline;
}
.breadcrumb .separator{
  padding: 2px 0;
  float: left;
  margin-right: 5px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.breadcrumb .item span{
  color: white;
}

#region-sidebar-first{
  background: white;
}
#region-sidebar-first .region-inner{
  padding: 10px;
  border: 1px solid #DED;
}
#region-content{
  background: white;
}
.page-mensajes-gratis #region-content{
  background: inherit;
}
#region-content .region-inner{
  padding: 10px;
  border: 1px solid #DED; 
}
.page-mensajes-gratis #region-content .region-inner{
  border: 0;
}
.negocios .negocio{
  padding: 0;
  margin: 0;
  float: left;
}
.negocios .negocio a{
  display: block;
  height: 120px;
  width: 120px;
  padding: 5px;
}
.negocios .negocio a:hover{
  background: #BE7;
}

#region-sidebar-first .block{
  margin-bottom: 10px;
}

/* carousel */
#zone-header.container-12 .grid-12{
  width: 960px;
  margin-left: 0;
  margin-right: 0;
  height: 250px;
}

/** jcarousel element **/
.jcarousel-container-horizontal {
  width: 960px;
  height: 250px;
}
.jcarousel-clip {
  overflow: hidden;
}
.jcarousel-clip-horizontal {
  width:  100%;
  height: 240px;
}
.jcarousel-item {
  width: 480px;
  height: 240px;
}
.jcarousel-item img {
  opacity:0.45;
  filter:alpha(opacity=45);
}
.jcarousel-item a.inactive {
  cursor:default;
}
.jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 10px;
}
/* jcarousel Horizontal Buttons*/
.jcarousel-arrow {
  position: absolute;
  text-indent:-999px;
  overflow:hidden;
  background:#644084 no-repeat 0 center;
  width: 230px;
  height: 240px;
  top:0;
  cursor: pointer;
}
 .jcarousel-next {
    right: 0;
    background: transparent;
 }
 .jcarousel-prev {
    left: 0;
    background: transparent;
 }
 .jcarousel-prev-disabled,
 .jcarousel-prev-disabled:hover,
 .jcarousel-prev-disabled:focus,
 .jcarousel-prev-disabled:active,
 .jcarousel-next-disabled,
 .jcarousel-next-disabled:hover,
 .jcarousel-next-disabled:focus,
 .jcarousel-next-disabled:active{
     cursor: default;
     background-position: 0 center;
  background-color:#CCC;
 }
/* jcarousel Navigation box */
.jcarousel-nav-wrap {
  display: none;
}

jcarousel-blurb {
  display: none;
}
.jcarousel-content {
  display:none;
}
#zone-branding.container-12 .grid-12 {
  width: 960px;
}
#zone-branding .grid-1, 
#zone-branding .grid-2, 
#zone-branding .grid-3, 
#zone-branding .grid-4, 
#zone-branding .grid-5, 
#zone-branding .grid-6, 
#zone-branding .grid-7, 
#zone-branding .grid-8, 
#zone-branding .grid-9, 
#zone-branding .grid-10, 
#zone-branding .grid-11, 
#zone-branding .grid-12 {
  margin-left: 0;
  margin-right: 0;
}
#zone-branding-wrapper{
  margin-top: 10px;
  margin-bottom: 10px;
}
.branding-data{
  float: left;
  width: 260px;
  height: 68px;
}
.page-mensajes-gratis .branding-data{
  float: none;
  margin: 0 auto;
}
#block-search-form{
  float: left;
  margin-left: 20px;
  margin-top: 29px;
  width: 380px;
}
#edit-search-block-form--2{
  width: 300px;
}
#search-block-form #edit-actions{
  margin-left: 0;
}
#search-block-form #edit-submit{
  text-indent: -9999px;
  width: 72px;
  height: 29px;
  background: #6DBBB7 url(../images/buscar.jpg) no-repeat;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  margin: 0;
  border: none !important;
}
#search-block-form #edit-search-block-form--2{
  font-size: 16px;
}
.view-categorias .views-row a{
  color: #000000;
  font-size: 13px;
  line-height: 15px;
  text-decoration: underline;
  display: block;
  padding: 2px 0;
}
.view-categorias .views-row a:hover{
  text-decoration: underline;
}
.view-categorias .views-row{
  background: url(../images/catagories-bg-a.gif) left 9px no-repeat;
  padding: 0px 0 0px 13px;
  vertical-align: top;
  margin: 0;
}
.view-categorias .views-row.views-row-last{
  margin-bottom: 0;
}


/* NEGOCIO PAGE */
.node-type-negocio h1.title{
  display: none;
}
.node-type-negocio #region-content{
  background: inherit;
}
.node-type-negocio #region-content .region-inner{
  padding: 0;
  border: none;
}
.node-type-negocio #block-system-main{
}
.node-type-negocio #block-system-main .block-inner{
}
.node-type-negocio ul.tabs.primary{
  margin-bottom: -1px;
}
.node-type-negocio ul.tabs.primary{
  border-bottom: none;
}
.node-type-negocio #block-system-main .group-left{
  width: 248px;
  padding: 10px;
  border: 1px solid #DED;
  background: white;
}
.node-type-negocio #block-system-main .group-right{
  float: right;
  width: 660px;
  background: white;
  border: 1px solid #DED;
  padding: 10px;
}
.node-type-negocio #block-system-main .group-right .field{
  clear: both;
  margin-bottom: 20px;
}
.node-type-negocio .field-name-field-image{
  width: 100px;
  float: left;
}
.node-type-negocio .field-name-title{
  width: 138px;
  float: right;
}
.node-type-negocio .field-name-title .field-items{
  height: 89px;
  line-height: 89px;
  margin: 0 auto;
}
.node-type-negocio .field-name-title .field-item{
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
.node-type-negocio .field-name-title h2{
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  width: 138px;
}
.node-type-negocio .field-name-body{
  clear: both;
}
.node-type-negocio .group-left .field{
  border-top: 1px solid #DED;
  padding-top: 10px;
  margin-top: 10px;
}
.node-type-negocio .field-group-format .field{
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}
.node-type-negocio .field-label-inline .field-label{
  float: left;
  width: 60px;
}
.node-type-negocio .field-label-inline .field-items{
  margin-left: 70px;
  display: block;
  float: none;
}
.node-type-negocio .group-right .horizontal-tabs{
  border: 0;
}
.node-type-negocio .group-right .horizontal-tabs-list{
  background: transparent;
  border: 0;
  margin-bottom: -4px;
}
.node-type-negocio .group-right .horizontal-tab-button{
  border-top: 1px solid #DED;
  border-left: 1px solid #DED;
  border-right: 1px solid #DED;
}
.node-type-negocio .group-right .horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background: white;
}
.node-type-negocio .group-right .horizontal-tabs-panes{
  border: 1px solid #DED;
  background: white;
}
.node-type-negocio .group-right .horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 10px;
  margin: 0;
}
.node-type-negocio .field-name-field-banner{
  padding: 0;
  margin-bottom: 10px;
}
.node-type-negocio .field-name-field-intro{
  clear: both;
}
.geofieldMap img{
  max-width:none;
  width: auto;
}
.node-type-negocio .field-name-field-images .field-items::after{
  font-size: 0;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.node-type-negocio .field-name-field-images .field-item{
  float: left;
  padding: 5px;
}
.node-type-negocio .group-right .horizontal-tabs fieldset.horizontal-tabs-pane.group-tab-imagenes{
  padding: 5px;
}
.node-type-negocio .field-name-title-2{
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.node-type-negocio #block-system-main .group-right .field-name-title-2{
  margin-bottom: 10px;
}
.node-type-negocio #block-system-main .group-right .field-label{
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #8EC615;
}
.node-type-negocio #block-system-main .group-left .field-label{
  font-weight: normal;
  color: #888;
}
.node-type-negocio .field-name-field-red-facebook a, 
.node-type-negocio .field-name-field-red-twitter a, 
.node-type-negocio .field-name-field-sitio-web a, 
.node-type-negocio .field-name-field-red-youtube a{
  padding-left: 47px;
  display: block;
  padding-top: 8px;
  height: 24px;
  width: 202px;
  overflow: hidden;
}
.node-type-negocio .field-name-field-red-facebook a{
  background: url(../images/iconface.jpg) no-repeat;
}
.node-type-negocio .field-name-field-red-twitter a{
  background: url(../images/icontiwitter.jpg) no-repeat;
}
.node-type-negocio .field-name-field-sitio-web a{
  background: url(../images/iconweb.jpg) no-repeat;
}
.node-type-negocio .field-name-field-red-youtube a{
  background: url(../images/iconyoutube.jpg) no-repeat;
}


/* Estilos para menu iconos */
#block-menu-menu-iconos{
  float: right;
}
#block-menu-menu-iconos ul li{
  list-style-image: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 20px;
}
#block-menu-menu-iconos ul li.last{
  margin-right: 0;
}
#block-menu-menu-iconos ul li a{
  text-align: center;
  display: block;
  font-size: 14px;
  color: #8EC615;
  text-decoration: none;
}
#block-menu-menu-iconos ul li a:hover{
  text-decoration: underline;
}
#block-menu-menu-iconos ul li a.anunciate{
  background: url(../images/anunciate.jpg) 5px 0 no-repeat;
  width: 70px;
  height: 13px;
  padding-top: 59px;
}
#block-menu-menu-iconos ul li a.promociones{
  background: url(../images/promociones.jpg) 15px 4px no-repeat;
  width: 90px;
  height: 13px;
  padding-top: 59px;
}
#block-menu-menu-iconos ul li a.eventos{
  background: url(../images/eventos.jpg) 0 2px no-repeat;
  width: 60px;
  height: 13px;
  padding-top: 59px;
}

#block-tepicnaym-mensaje-form{
  width: 230px;
  padding-right: 10px;
  background: #F4F4F4;
  position: relative;
  top: -261px;
  height: 250px;
}
#block-tepicnaym-mensaje-form .block-inner{
  padding: 0 10px;
}
#block-tepicnaym-mensaje-form p.green{
  font-size: 12px;
}
#block-tepicnaym-mensaje-form textarea.form-textarea, 
#block-tepicnaym-mensaje-form input.form-text{
  width: 210px;
}
#block-tepicnaym-mensaje-form #edit-message{
  height: 75px;
}
.page-taxonomy h1.title,
.page-directorio h1.title{
  color: #CCCCCC;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
}
#block-views-categorias-block h2.block-title{
  font-size: 12px;
  line-height: 14px;
  color: #CCCCCC;
  margin-bottom: 5px;

}


/* Social Links*/
.field-name-social-plugins ul{
  padding: 0;
  margin: 0;
  list-style: none;
  right: 0;
  height: 25px;
  float: left;
}
.field-name-social-plugins ul li{
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 10px;
  height: 25px;
}
.field-name-social-plugins ul li.last{
  margin-right: 0;
}
#facebook-like-button{
  width: 77px;
  overflow: hidden;
}
.field-name-field-direccion .field-item{
  display: block;
  margin-bottom: 10px;
}

/* Imagenes Sliders */
#cboxTitle{
  font-size: 22px !important;
  line-height: 24px !important;
  color: black !important;
}


/* Add Negocio */
.page-node-add-negocio .tabledrag-toggle-weight-wrapper,
.page-node-edit .tabledrag-toggle-weight-wrapper{
  display: none;
}
.page-node-add-negocio #field-geo-location-values, 
.page-node-edit #field-geo-location-values, 
#gmap-data-latitude,
#gmap-data-longitude{
  display: none;
}
.page-node-add-negocio #field-direccion-values tr.empty,
.page-node-edit #field-direccion-values tr.empty{
  display: none;
}
.page-node-add-negocio .fieldset-wrapper > div,
.page-node-add-negocio .fieldset-wrapper .street-block > div,
.page-node-edit .fieldset-wrapper > div,
.page-node-edit .fieldset-wrapper .street-block > div{
  margin-bottom: 10px;
}
.page-node-add-negocio #gMapContainer,
.page-node-edit #gMapContainer{
  width: 500px;
  height: 300px;
  display: none;
}
.page-node-add-negocio #cboxLoadedContent #gMapContainer,
.page-node-edit #cboxLoadedContent #gMapContainer{
  display: block;
}

/* Tepic Button */
.tepic-button{
  text-decoration: none !important;
  display: inline-block;
  height: 30px;
  background: rgb(142,198,65); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(142,198,65,1) 0%, rgba(123,170,56,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,198,65,1)), color-stop(100%,rgba(123,170,56,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(142,198,65,1) 0%,rgba(123,170,56,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(142,198,65,1) 0%,rgba(123,170,56,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(142,198,65,1) 0%,rgba(123,170,56,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(142,198,65,1) 0%,rgba(123,170,56,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec641', endColorstr='#7baa38',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #6F9932;
  border-right: solid 1px #688E2F;
  border-bottom: solid 1px #688E2F;
  border-left: solid 1px #688E2F;
}
.tepic-button.small{
  height: 20px;
}
.tepic-button:hover{
  background: rgb(189,196,64); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(189,196,64,1) 0%, rgba(162,168,55,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,196,64,1)), color-stop(100%,rgba(162,168,55,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(189,196,64,1) 0%,rgba(162,168,55,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(189,196,64,1) 0%,rgba(162,168,55,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(189,196,64,1) 0%,rgba(162,168,55,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(189,196,64,1) 0%,rgba(162,168,55,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdc440', endColorstr='#a2a837',GradientType=0 ); /* IE6-9 */
  border-color: #878C2E;
  border-top-color: #939932;
}
.tepic-button > span{
  display: block;
  border-top: solid 1px #9FDD49;
  height: 29px;
}
.tepic-button.small > span{
  height: 19px;
}
.tepic-button:hover > span{
  border-top-color: #D3DB48;
}
.tepic-button,
.tepic-button > span{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.tepic-button.small,
.tepic-button.small > span{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.tepic-button > span > span{
  display: block;
  padding: 5px 10px 0 10px;
  color: white !important;
  font-size: 14px;
  font-family: Arial;
}
.tepic-button.small > span > span{
  display: block;
  padding: 2px 5px 0 5px;
  color: white !important;
  font-size: 11px;
  font-family: Arial;
}


/******* MOBILE PORTRAIT & LANDSCAPE *******/
@media only screen and (max-width : 767px) {
  body{
    min-width: 320px !important;
  }
  #omega-media-query-dummy,
  #skip-link{
    display: none !important;
  }
  .container-12,
  #zone-branding.container-12 .grid-12,
  #zone-header.container-12 .grid-12{
    width: auto !important;
    float: none !important;
    display: block !important;
    position: static !important;
  }
  #edit-search-block-form--2{
    width: 220px;
  }
  .branding-data{
    float: none !important;
    width: auto !important;
    height: auto !important;
    text-align: center;
  }
  .logo-img{
    display: inline-block;
  }
  #block-search-form{
    float: none;
    margin: 20px 0 0 0;
    width: auto !important;
    text-align: center;
  }
  #block-menu-menu-iconos{
    float: none !important;
    margin-top: 20px;
  }
  #block-menu-menu-iconos ul{
    text-align: center;
  }
  #block-menu-menu-iconos ul li{
    float: none !important;
    display: inline-block;
  }
  #block-views-banners-carrucel-block{
    display: none !important;
  }
  #zone-header-wrapper{
    display: none !important;
  }
  #block-tepicnaym-mensaje-form{
    display: none !important;
    width: auto !important;
    position: static !important;
    height: auto !important;
    margin-top: 20px !important;
    padding: 0 !important;
  }
  #block-tepicnaym-mensaje-form textarea.form-textarea, 
  #block-tepicnaym-mensaje-form input.form-text{
    width: 100% !important;
    box-sizing: border-box;
  }
  #region-sidebar-first{
    display: none !important;
  }
  #zone-content.container-12 .grid-9{
    width: auto !important;
  }
  .negocios ul{
    margin: 0;
    text-align: center;
  }
  .negocios .negocio{
    float: none !important;
    display: inline-block;
  }
}