body{
  background: #F4F4F4;
  border-top: #8CC835 solid 9px;
  font-family: Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 128%;
  padding-left: 0;
  padding-right: 0;
  min-width: 960px;
}
@media only screen and ($max_width_style : $mobile_limit) {
  body{
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}