.page-directorio{
  h1{
    margin-bottom: 10px;
    color: #CCCCCC;
    font-size: 12px;
  }
}
.view-negocios .view-content{
  margin-left: -5px;
  margin-right: -5px;
}
.view-negocios .view-content:after{
  content: "";
  display: table;
  clear: both;
}
.view-negocios .views-row{
  float: left;
  width: 130px;
  height: 130px;
}
.view-negocios .views-row .field__item a{
  display: block;
  border: solid 5px transparent;
  width: 130px;
  height: 130px;
}
.view-negocios .views-row .field__item a:hover{
  border-color: #BE7;
}