.l-header{
  width: 960px;
  margin: 0 auto 10px;
  padding-top: 10px;
}
.l-branding{
  width: 260px;
  height: 66px;
  float: left;
}
.l-region--branding{
  margin-left: 260px;
}
.l-region--header{
  margin-left: 260px;
  min-height: 72px;
}