.l-header{
  min-width: 960px;
  margin: 0 auto 10px;
  padding-top: 10px;
}
.l-header:after{
  content: "";
  display: table;
  clear: both;
}
.l-branding{
  width: 260px;
  height: 66px;
  float: left;
}
.l-region--branding{
  margin-left: 260px;
}
.l-region--header{
  margin-left: 260px;
  min-height: 72px;
}
@media only screen and ($max_width_style : $mobile_limit) {
  .l-header{
    min-width: 0;
  }
  .l-region--branding,
  .l-region--header{
    display: none;
  }
}