.l-header{
  min-width: $normal_width;
  margin: 0 auto 10px;
  padding-top: 10px;
  width: $normal_width;
}
.l-header:after{
  content: "";
  display: table;
  clear: both;
}
.l-branding{
  width: 260px;
  height: 66px;
  float: left;
}
.l-region--branding{
  margin-left: 260px;
}
.l-region--header{
  margin-left: 260px;
  min-height: 72px;
}
@media only screen and ($max_width_style : $mobile_limit) {
  .l-branding{
    margin-top: 10px;
    margin-left: 10px;
    width: 180px;
    height: 46px;
  }
  .l-header{
    width: auto;
    min-height: 0;
    min-width: 0;
    padding-top: 0;
  }
  .l-region--header{
    margin-left: 0;
    min-height: 0;
  }
  .l-region--branding{
    display: none;
  }
}