.l-region--highlighted{
  min-width: $normal_width;
  margin: 0 auto;
  clear: both;
  width: $normal_width;
}
@media only screen and ($max_width_style : $mobile_limit) {
  .l-region--highlighted{
    margin-top: 10px;
    min-width: 0;
    width: auto;
  }
}