#block-menu-menu-iconos{
  float: right;
  width: 260px;
  ul.menu, 
  ul.menu li{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul.menu li{
    float: left;
    margin-right: 20px;
  }
  ul.menu li.last{
    margin-right: 0;
  }
  ul.menu:after{
    content: "";
    display: table;
    clear: both;
  }
  ul.menu a{
    text-align: center;
    display: block;
    font-size: 14px;
    color: #8EC615;
    text-decoration: none;
    height: 72px;
    text-indent: -9999px;
  }
  ul.menu a:hover{
    text-decoration: underline;
  }
  a.anunciate{
    background: url(../images/anunciate.jpg) 5px 0 no-repeat;
    width: 70px;
    padding-top: 59px;
  }
  a.promociones{
    background: url(../images/promociones.jpg) 15px 4px no-repeat;
    width: 90px;
    padding-top: 59px;
  }
  a.eventos{
    background: url(../images/eventos.jpg) 0 2px no-repeat;
    width: 60px;
    padding-top: 59px;
  }
}
@media only screen and ($max_width_style : $mobile_limit) {
  #block-menu-menu-iconos{
    display: none;
  }
}