.l-main{
  clear: both;
  min-width: $normal_width;
  margin: 10px auto 0;
  width: $normal_width;
}
.l-main:after{
  clear: both;
}
.l-content{
  background: white;
  border: 1px solid #DED;
  padding: 15px;
}
@media only screen and ($max_width_style : $mobile_limit) {
  .l-main{
    min-width: 0;
    width: auto;
  }
  .mobile-menu-open .l-main{
    display: none;
  }
}