#block-search-form{
  width: 380px;
  float: left;
  margin-left: 20px;
  margin-top: 29px;
  .form-actions .form-submit{
    text-indent: -9999px;
    width: 72px;
    height: 29px;
    background: #6DBBB7 url(../images/buscar.jpg) no-repeat;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 16px;
    border-radius: 0 0 0 0;
  }
  .form-text{
    font-size: 16px;
    width: 300px;
  }
}
@media only screen and ($max_width_style : $mobile_limit) {
  #block-search-form{
    display: none;
  }
  .open #block-search-form{
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px;
    .form-text{
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      border-radius: 17px 17px 17px 17px;
      padding: 7px 13px 6px;
      height: auto;
    }
    .form-actions, 
    .form-actions .form-submit{
      display: none;
    }
  }
}