#block-views-banners-block,
#block-views-banners-block-1,
#block-views-banners-block-2{
  text-align: center;
  margin-bottom: 20px;
}
#block-views-banners-block .image a,
#block-views-banners-block-1 .image a,
#block-views-banners-block-2 .image a{
  display: inline-block;
  width: 250px;
  height: 200px;
}