/******* MOBILE PORTRAIT & LANDSCAPE *******/
@media only screen and (max-width : 767px) {
  
}
#block-menu-menu-iconos{
  margin-top: 20px;
}
#block-menu-menu-iconos ul, 
#block-menu-menu-iconos ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}
#block-menu-menu-iconos ul{
  text-align: center;
}
#block-menu-menu-iconos ul li{
  display: inline-block;
  margin-right: 10px;
}
#block-menu-menu-iconos ul li.last{
  margin-right: 0;
}
#block-menu-menu-iconos ul li a{
  text-align: center;
  display: block;
  font-size: 1em;
  text-decoration: none;
}
#block-menu-menu-iconos li a.anunciate{
  background: url(../images/header/anunciate.jpg) center 0 no-repeat;
  min-width: 70px;
  height: 13px;
  padding-top: 59px;
}
#block-menu-menu-iconos li a.promociones{
  background: url(../images/header/promociones.jpg) center 4px no-repeat;
  min-width: 90px;
  height: 13px;
  padding-top: 59px;
}
#block-menu-menu-iconos ul li a.eventos{
  background: url(../images/header/eventos.jpg) center 2px no-repeat;
  min-width: 60px;
  height: 13px;
  padding-top: 59px;
}