/******* MOBILE PORTRAIT & LANDSCAPE *******/
@media only screen and (max-width : 767px) {
  .site-logo{
    display: block;
    text-align: center;
    margin: 10px 0;
  }
  .site-logo img{
    width: 300px;
    display: inline-block;
  }
}